body,html{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: arial;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right,rgb(0, 217, 255), rgb(20, 70, 235));
    margin-top: 25vh;
    padding: 30px;
    border-radius: 20px;
}

#btn_login, #btn_cadastrar, #input_email, #input_senha{
    border-radius: 10px;
}

#btn_login{
    padding: 7px 75px;
    margin-top: 20px;
    border: none;
    background-color: rgb(0, 150, 187);
    color: white;
    font-weight: bolder;
}

#btn_cadastrar{
    margin-top: 20px;
    border: none;
    padding: 7px 65px;
    background-color: rgba(192, 94, 238, 0.884);
    color: white;
    font-weight: bold;
}

input{
    border: none;
    padding: 7px 0px;
}